/** Write your CSS in here **/
body {
    background-color: grey;
}

h1 {
    text-align: center;
    color:bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
}

#quote {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: black;
    font-size: 50px;
    text-align: center;
}

#author {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: center;

}
#new-quote {
    margin-left:70px;
    padding: 10px;
    border: black;
    border-radius: 10%;
}