
    /** Write your CSS in here **/
body{
    background-color: darkcyan;
}
img{
    max-width: 700px;
    border-radius: 85%;
}

button{
    border-radius: 20px;
    border-color: black 10px;
}
#carousel{
    display: flex;
    align-items: center;
    justify-content: center;
}

#allbtns{
    display: flex;
    align-items: center;
    justify-content: center;
}

